body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #007bff;
    padding: 15px;
    text-align: left;
}

.icon-container {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.upload-section {
    text-align: center;
    margin: 50px auto;
}

input, button {
    padding: 10px;
    margin: 10px;
}

.search-container {
    text-align: center;
    margin: 20px;
}

.folder {
    background: #007bff;
    color: white;
    padding: 10px;
    margin: 10px auto;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}

.folder a {
    color: yellow;
    text-decoration: none;
}
